.body {
    -fx-background-color: #C4D9DA
}

.big-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 44px;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
}

.sidebar {
    -fx-background-color: #072B2B;
    -fx-padding: 1em;
}

.sidebar-button {
    -fx-background-color: transparent;
}

.page-header {
    -fx-background-color: white;
    -fx-padding: 1em 2em;
    -fx-alignment: center_left;
    -fx-border-color: #D1D9E0;
    -fx-border-width: 0 0 2px 0;
}

.header-left {
    -fx-spacing: 1em;
    -fx-alignment: center;
}

.header-right {
    -fx-spacing: 1em;
}

.page-header Label {
    -fx-font-size: 2em;
}

.active-window {
    -fx-alignment: center;
    -fx-background-color: white;
}

.search-field {
    -fx-pref-height: 36px;
    -fx-pref-width: 300px;
    -fx-font-size: 1.2em;
    -fx-padding: 0.8em;
    -fx-spacing: 1em;
}

.green-button {
    -fx-background-color: #006766;
}